<div>
  <link href="./component1.css" rel="stylesheet" />
  <div class="component1-container">
    <div class="component1-iniciarsesion">
      <img
        alt="Rectangle98180"
        src="/playground_assets/rectangle98180-k3mf.svg"
        class="component1-rectangle9"
      />
      <span class="component1-text"><span>Iniciar sesión</span></span>
      <img
        alt="Vector1226"
        src="/playground_assets/vector1226-hfcj.svg"
        class="component1-vector"
      />
    </div>
    <div class="component1-registro">
      <img
        alt="Rectangle101227"
        src="/playground_assets/rectangle101227-muc-200h.png"
        class="component1-rectangle10"
      />
      <span class="component1-text2"><span>Registrarse</span></span>
    </div>
  </div>
</div>
