<div>
  <link href="./component.css" rel="stylesheet" />
  <div class="component-container">
    <div class="component-xera">
      <img
        alt="Rectangle111515"
        src="/playground_assets/rectangle111515-iqru.svg"
        class="component-rectangle11"
      />
      <span class="component-text"><span>Mesas disponibles: 15</span></span>
      <img
        alt="Ellipse61516"
        src="/playground_assets/ellipse61516-qy8r-200w.png"
        class="component-ellipse6"
      />
      <div class="component-component4">
        <img
          alt="VectorI151"
          src="/playground_assets/vectori151-l57r.svg"
          class="component-vector"
        />
        <span class="component-text02">
          <span>Calle De Les Sitges 10, Barcelona</span>
        </span>
      </div>
      <span class="component-text04">
        <span>Alta cocina, platos elaborados gourmet</span>
      </span>
      <div class="component-reservar">
        <img
          alt="Rectangle121516"
          src="/playground_assets/rectangle121516-xg7-200h.png"
          class="component-rectangle12"
        />
        <span class="component-text06"><span>RESERVAR</span></span>
      </div>
      <img
        alt="image23838"
        src="/playground_assets/image23838-3sqs-200h.png"
        class="component-image2"
      />
    </div>
    <div class="component-elrincon">
      <img
        alt="Rectangle113853"
        src="/playground_assets/rectangle113853-0h4k.svg"
        class="component-rectangle111"
      />
      <span class="component-text08"><span>Mesas disponibles: 3</span></span>
      <img
        alt="Ellipse63855"
        src="/playground_assets/ellipse63855-udop-200w.png"
        class="component-ellipse61"
      />
      <div class="component-component41">
        <img
          alt="VectorI385"
          src="/playground_assets/vectori385-bsw3.svg"
          class="component-vector1"
        />
        <span class="component-text10">
          <span>Carrer del Carme, 28, Barcelona</span>
        </span>
      </div>
      <span class="component-text12"><span>Cocina italiana</span></span>
      <div class="component-reservar1">
        <img
          alt="Rectangle12I385"
          src="/playground_assets/rectangle12i385-nfs7-200h.png"
          class="component-rectangle121"
        />
        <span class="component-text14"><span>RESERVAR</span></span>
      </div>
      <img
        alt="image33865"
        src="/playground_assets/image33865-0zio-200h.png"
        class="component-image3"
      />
    </div>
    <div class="component-mcdonalds">
      <img
        alt="Rectangle113867"
        src="/playground_assets/rectangle113867-x1di.svg"
        class="component-rectangle112"
      />
      <span class="component-text16"><span>Mesas disponibles: 0</span></span>
      <img
        alt="Ellipse63869"
        src="/playground_assets/ellipse63869-3g2-200h.png"
        class="component-ellipse62"
      />
      <div class="component-component42">
        <img
          alt="VectorI387"
          src="/playground_assets/vectori387-l3rf.svg"
          class="component-vector2"
        />
        <span class="component-text18">
          <span>CC Diagonal Mar, Barcelona</span>
        </span>
      </div>
      <span class="component-text20"><span>Comida rápida</span></span>
      <div class="component-reservar2">
        <img
          alt="Rectangle12I387"
          src="/playground_assets/rectangle12i387-zx6c-200h.png"
          class="component-rectangle122"
        />
        <span class="component-text22"><span>RESERVAR</span></span>
      </div>
      <img
        alt="image43878"
        src="/playground_assets/image43878-nmvb-200h.png"
        class="component-image4"
      />
    </div>
    <div class="component-goiko">
      <img
        alt="Rectangle113880"
        src="/playground_assets/rectangle113880-ci8p.svg"
        class="component-rectangle113"
      />
      <span class="component-text24"><span>Mesas disponibles: 10</span></span>
      <img
        alt="Ellipse63882"
        src="/playground_assets/ellipse63882-wo7-200h.png"
        class="component-ellipse63"
      />
      <div class="component-component43">
        <img
          alt="VectorI388"
          src="/playground_assets/vectori388-3m7q.svg"
          class="component-vector3"
        />
        <span class="component-text26">
          <span>Carrer del Bruc, 25, Barcelona</span>
        </span>
      </div>
      <span class="component-text28"><span>Hamburguesas de calidad</span></span>
      <div class="component-reservar3">
        <img
          alt="Rectangle12I388"
          src="/playground_assets/rectangle12i388-bqjk-200h.png"
          class="component-rectangle123"
        />
        <span class="component-text30"><span>RESERVAR</span></span>
      </div>
      <img
        alt="image53894"
        src="/playground_assets/image53894-2z6g-200w.png"
        class="component-image5"
      />
    </div>
  </div>
</div>
